<!DOCTYPE html>
<html>
<head>
    <title>Resultado EIO-SP</title>
</head>
<body>

    <h2>Resultado EIO-SP</h2>

    <h3>IGIO: {{ igio }}%</h3>

    <h3 style="color: {{ color }};">
        Clasificación: {{ clasificacion }}
    </h3>

    <hr>

    <h3>Resultados por Dimensión (%)</h3>

    {% for dimension, porcentaje in dimensiones.items() %}
        <p><strong>{{ dimension }}:</strong> {{ porcentaje }}%</p>
    {% endfor %}

    <br>
    <a href="/evaluacion">Nueva evaluación</a>

</body>
</html>
