<!DOCTYPE html>
<html>
<head>
    <title>EIO-SP Evaluación</title>
</head>
<body>
    <h2>Evaluación EIO-SP</h2>

    <form method="POST">

        {% for pregunta in preguntas %}
            <p>{{ loop.index }}. {{ pregunta.texto }}</p>

            {% for i in range(1,6) %}
                <input type="radio" name="{{ pregunta.id }}" value="{{ i }}" required> {{ i }}
            {% endfor %}

            <br><br>
        {% endfor %}

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
